@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
body {
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../backgr.png");
}

/* Estilos del titulo*/
.title{
    font-size: 60px;
    font-weight: 1000;
    color: #ffc0cb;
    letter-spacing: 3px;
    margin: 30px 0;
    text-shadow: 0 0 30px rgba(81, 70, 90, 1);
}

/* Estilos para el contenedor principal */
#app {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 80px rgba(255, 192, 203, 0.5);
    width: 450px;
}

/* Estilos para el formulario */
form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
}

/* Estilos al input */
input {
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    font-size: 16px;
}

/* Estilos al boton "Agregar" */
[type="submit"] {
    padding: 5px 8px;
    font-weight: bold;
    background-color: #ffc0cb;
    box-shadow: 0 0 8px rgba(255, 192, 203, 0.5);
    color: #ffffff;
    text-shadow: 0 0 5px rgba(81, 70, 90, 1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos de la lista */
ul {
    list-style: none;
    padding: 0;
}

/* Estilos a los elementos de la lista*/
li { 
    background-color: #ffc0cb;
    color: #28252b;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(81, 70, 90, 0.5);
    padding: 12px;
    border: none;
    margin-top: 10px;
    border-radius: 25px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 0 30px rgba(255, 192, 203, 0.5);
    border: none;
}

/* Estilos a los botones*/
button {
    padding: 5px 8px;
    background-color: #6b4c5d;
    color: #ffffff;
    text-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 8px rgba(255, 192, 203, 0.5);
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

/* Estilos cuando una tarea esta completada */
li.completed{
    text-decoration: line-through;
    color: #8e6470;
}